
html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto, sans-serif;
	overflow: hidden;
	white-space: pre;
	background-color: #f5f5f5;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

a{
	color: inherit;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}

.page{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#irc-tabs{
	box-sizing: border-box;
	display: table-row;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 2em;
	overflow-x: auto;
	list-style: none;
	background-color: #eeeeee;
	border-top: 1px solid #e0e0e0;
	-webkit-user-select: none;
	user-select: none;
}
#irc-tabs>li{
	box-sizing: border-box;
	display: table-cell;
	margin: 0;
	padding: .5em;
	height: 1em;
	line-height: 1;
	border-right: 1px solid #e0e0e0;
	white-space: pre;
}
#irc-tabs>li.active{
	background-color: #fff;
}
#irc-tabs>li:not(.active){
	cursor: pointer;
}
#irc-tabs>li.has-unread{
	-webkit-animation: tabHasUnread 1.5s infinite;
	animation: tabHasUnread 1.5s infinite;
}
@-webkit-keyframes tabHasUnread{
	50% { background-color: rgba(196, 20, 17, .2); }
}
@keyframes tabHasUnread{
	50% { background-color: rgba(196, 20, 17, .2); }
}
#irc-tabs>li>.tab-close-button{
	display: inline-block;
	margin-left: .25em;
	width: 1em;
	height: 1em;
	border-radius: .5em;
	text-align: center;
	opacity: .3;
}
#irc-tabs>li:hover>.tab-close-button{
	opacity: 1;
}
#irc-tabs>li>.tab-close-button:hover{
	opacity: 1;
	background-color: #e0e0e0;
	cursor: pointer;
}

#irc-tabs-contents{
	position: fixed;
	top: 0;
	right: 11em;
	bottom: 2em;
	left: 0;
}
.irc-tab-content{
	display: none;
}
.irc-tab-content.active{
	display: block;
}
.irc-tab-content-topic{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: .5em;
	height: 2em;
	font-size: 1em;
	font-weight: normal;
	line-height: 1;
	background-color: #eeeeee;
	border-bottom: 1px solid #e0e0e0;
}
.irc-tab-content-list{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	list-style: none;
}
.irc-tab-content-topic+.irc-tab-content-list{
	top: 2em;
}
.irc-tab-content-list:not(:last-child){
	bottom: 2em;
}
.irc-tab-content-list>li{
	position: relative;
	padding: .25em .5em .25em 11.5em;
	white-space: normal;
}
.irc-tab-content-list>li:hover{
	background-color: #f9f9f9;
}
.irc-tab-content-list>li::before,
.irc-tab-content-list>li[data-date]:hover::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	padding: .25em .5em;
	width: 10em;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.irc-tab-content-list>li.public-message::before,
.irc-tab-content-list>li.private-message::before{
	content: attr(data-author);
}
.irc-tab-content-list>li[data-date]:hover::after{
	content: "[" attr(data-date) "]";
	background-color: #f5f5f5;
}
.irc-tab-content-list>li.channel-topic,
.irc-tab-content-list>li.user-join,
.irc-tab-content-list>li.user-quit,
.irc-tab-content-list>li.user-kick{
	font-style: italic;
}
.irc-tab-content-list>li.public-message.mentioned{
	font-weight: bold;
}
.irc-tab-content-input{
	display: block;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: .5em;
	height: 2em;
	font: inherit;
	background-color: #f5f5f5;
	border: none;
	border-top: 1px solid #e0e0e0;
	outline: none;
}
.irc-tab-content-input:focus{
	background-color: #fff;
}

#irc-tabs-users{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 2em;
	width: 11em;
	overflow-y: auto;
	background-color: #eeeeee;
	border-left: 1px solid #e0e0e0;
	-webkit-user-select: none;
	user-select: none;
}
.irc-tab-users,
.irc-tab-channels{
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}
.irc-tab-users.active,
.irc-tab-channels.active{
	display: block;
}
.irc-tab-users>li,
.irc-tab-channels>li{
	padding: 0 .5em;
}
.irc-tab-users>li:hover,
.irc-tab-channels>li:hover{
	background-color: #f9f9f9;
}
.irc-tab-users>li.me{
	font-style: italic;
}
.irc-tab-users>li:not(.me),
.irc-tab-channels>li{
	cursor: pointer;
}
.irc-tab-users>li[data-user-role]::before{
	content: attr(data-user-role) " ";
	color: #5677fc;
},
.irc-tab-channels>li[data-users-number]::before{
	content: attr(data-users-number) " ";
	color: #5677fc;
}