
html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto, sans-serif;
	overflow: hidden;
	white-space: pre;
	background-color: #fff;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.page{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#irc-tabs{
	box-sizing: border-box;
	display: table-row;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 2em;
	list-style: none;
	background-color: #f2f2f2;
	border-top: 1px solid #ccc;
	-webkit-user-select: none;
	user-select: none;
}
#irc-tabs>li{
	box-sizing: border-box;
	display: table-cell;
	margin: 0;
	padding: .5em;
	height: 1em;
	line-height: 1;
	border-right: 1px solid #ccc;
}
#irc-tabs>li.active{
	background-color: #fff;
}
#irc-tabs>li:not(.active){
	cursor: pointer;
}

#irc-tabs-contents{
	position: fixed;
	top: 0;
	right: 10em;
	bottom: 2em;
	left: 0;
}
.irc-tab-content{
	display: none;
}
.irc-tab-content.active{
	display: block;
}
.irc-tab-content-list{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	list-style: none;
}
.irc-tab-content-list:not(:last-child){
	bottom: 2em;
}
.irc-tab-content-list>li{
	position: relative;
	padding: .25em .5em .25em 9.5em;
	white-space: pre-wrap;
}
.irc-tab-content-list>li:hover{
	background-color: #f9f9f9;
}
.irc-tab-content-list>li::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	padding: .25em .5em;
	width: 8em;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.irc-tab-content-list>li.public-message::before,
.irc-tab-content-list>li.private-message::before{
	content: attr(data-author);
}
.irc-tab-content-list>li.channel-topic,
.irc-tab-content-list>li.user-join,
.irc-tab-content-list>li.user-quit{
	font-style: italic;
}
.irc-tab-content-input{
	display: block;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: .5em;
	height: 2em;
	font: inherit;
	border: none;
	border-top: 1px solid #ccc;
	outline: none;
}
.irc-tab-content-input:focus{
	box-shadow: inset 0 0 .5em #5677fc;
}

#irc-tabs-users{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 2em;
	width: 10em;
	overflow-y: auto;
	background-color: #f2f2f2;
	border-left: 1px solid #ccc;
}
.irc-tab-users{
	display: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 10em;
	list-style: none;
}
.irc-tab-users.active{
	display: block;
}
.irc-tab-users>li{
	padding: 0 .5em;
}
.irc-tab-users>li.me{
	background-color: #fff;
}
.irc-tab-users>li:not(.me){
	cursor: pointer;
}
.irc-tab-users>li[data-user-role]::before{
	content: attr(data-user-role) " ";
	color: #5677fc;
}